@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: linear-gradient(rgba(37, 99, 235, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(37, 99, 235, 0.08) 1px, transparent 1px);
  background-size: 24px 24px;
  font-family: 'Inter', sans-serif;
}
